<div class="col-half">
  {{#freq-chart title="Dice Results" values=values}}{{/freq-chart}}
</div>
<div class="col-half experiment">
  <img src="/images/dice.png" /><br/>
  <button {{action 'roll_the_dice'}}>Roll the Dice!</button>
</div>
