<div class="col-half">
  {{#freq-chart title="Dice Results" values=values}}{{/freq-chart}}
</div>
<div class="col-half experiment">
  <div class="dice-wrapper">
    {{#each dice as |side_visible|}}
      {{rolling-die position=side_visible}}
    {{/each}}
  </div><br/>
  <a class="roll_btn noselect" {{action 'roll_the_dice' 2}}>roll the dice !</a>
</div>
